<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список сообщений</title>
</head>
<body>
<form action="/logout" method="post">
  <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
  <input type="submit" value="Sign Out ">
</form>

<form method="POST">
  <input type="text" name="text" placeholder="Enter your message">
  <input type="text" name="tag" placeholder="Enter your tag">
  <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
  <button type="submit">Add</button>
</form>

<div>List of messages: </div>

<form method="POST" action="filter">
  <input type="text" name="tag"/>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
  <button type="submit">Search</button>
</form>

{{#messages}}
  <div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
  </div>
{{/messages}}
</body>
</html>